/*-- OverRight css--*/
.skin-blue .main-header .navbar {
    background-color: #00466f;
    border-bottom: 2px solid #238bc8;
}

.skin-blue .main-header .logo {
    background-color: #00466f;
}

.main-sidebar {
    background-color: #222d32;
    border-right: 2px solid #238bc8;
}

.skin-blue .sidebar-menu > li > a {
    font-family: Verdana, sans-serif;
    font-size: 15px !important;
}

.skin-blue .sidebar-menu > li > a > span {
    margin-left: 19px;
}

.sidebar-menu > li > a > .fa, .sidebar-menu > li > a > .glyphicon, .sidebar-menu > li > a > .ion {
    font-size: 22px;
}

.skin-blue .sidebar-menu .treeview-menu > li > a {
    color: #8aa4af;
    font-family: Verdana, sans-serif;
    font-size: 16px !important;
}

.skin-blue .sidebar-menu .treeview-menu > li > a > i {
    font-size: 20px;
}

.skin-blue .sidebar-menu .treeview-menu > li > a > span {
    margin-left: 6px;
}

/*-- DataTabe Custom Style --*/

.dc-table-style a.btn-view, a.btn-edit, a.btn-detect {
    font-size: 20px;
    padding-right: 10px;
}

.dc-table-style a.btn-view {
    color: #357CA5;
}

.dc-table-style a.btn-view:hover {
    color: #3c8dbc;
}

.dc-table-style a.btn-edit {
    color: #008D4C;
}

.dc-table-style a.btn-edit:hover {
    color: #00a65a;
}

.dc-table-style a.btn-detect {
    color: #D33724;
}

.dc-table-style a.btn-detect:hover {
    color: #f56954;
}

body {
    font-family: Verdana, sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 14px;
}

.skin-blue .main-header .navbar .sidebar-toggle {
    color: #fff;
}

.skin-blue .main-header .navbar {
    height: 52px;
}

.bg-light-blue-active, .modal-header {
    background-color: #357ca5 !important;
    color: #ffffff !important;
}

.modal-content {
    opacity: 0.9 !important;
}

.search::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: pink;
}

.search::-moz-placeholder { /* Firefox 19+ */
    font-size: 14px;
}

.search:-ms-input-placeholder { /* IE 10+ */
    font-size: 14px;
}

.search:-moz-placeholder { /* Firefox 18- */
    font-size: 14px;
}

/*-- Modal Custom Style --*/

.example-modal .modal {
    position: relative;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
    display: block;
    z-index: 1;
}

.example-modal .modal {
    background: transparent !important;
}

/*
Table scroll bar custom*/
#table-wrapper {
    position: relative;

}

#table-scroll {
    height: 165px;
    overflow: auto;
}

#table-wrapper table {
    width: 100%;

}

#table-wrapper table thead th .text {
    position: absolute;
    top: -20px;
    z-index: 2;
    height: 10px;
    width: 35%;
}

.padding-top-8 {
    padding-top: 8px;
}

.margin-top-2 {
    margin-top: 2px;
}

.navbar-nav > .user-menu > .dropdown-menu > .user-footer {
    background-color: #00466f;
    padding: 10px;
}

.borderless td, .borderless th {
    padding: 10px !important;
}

.borderless {
    margin-bottom: 0px !important;
    border: 1px solid #e3dbdb;
    border-collapse: unset;
    font-size: 16px;
}

.border-less {
    margin-bottom: 0px !important;
    border-collapse: unset;
    font-size: 16px;
}

.btn-secondary {
    background-color: #64879c;
    border-color: #64879c;
    color: #fff !important;
}

.btn-secondary:hover {
    background-color: #567486;
    border-color: #5b5b5b;
    color: #fff;
}

.btn-padding {
    margin: 2px 12px;
    border-radius: 4px !important;
}

.margin-none {
    margin: 0 !important;
}

.margin-top-10 {
    margin-top: 10px !important;
}

@media only screen and (max-width: 768px) {

    .main-sidebar {
        margin-top: 8%;
    }

    .main-header {
        margin-bottom: 5% !important;
    }

    .select2-container {
        width: 100% !important;
    }

    #{
		color: white !important;
	}
    .select2-selection {
        background: #00466f !important;
        border: 1px solid gray !important;
    }

    .select2-container .select2-selection--single .select2-selection__rendered {
        padding-right: 10px;
        color: white;
    }
}

.select2-container .select2-selection--single .select2-selection__rendered {
    color: white;
}

@media only screen and (min-width: 768px) {
    .time_zone {
        width: 300px !important;

    }
}

.select2-selection {
    background: #00466f !important;
    border: 1px solid gray !important;
}

@media only screen and (max-width: 480px) {
    .main-header {
        margin-bottom: 8% !important;
    }

    .custom-hide {
        display: none !important;
    }
}

.prefix-form {
    height: 30px;
}

.has_error {
    border: 2px solid #ff442a;
}

.error_msg {
    padding: 1px;
    margin-left: -45px;
    color: #ff442a;
}

.prefix_error_msg {
    padding: 1px;
    margin-left: -75px;
    color: #ff442a;
}

.rate_error_msg {
    padding: 1px;
    margin-left: -40px;
    color: #ff442a;
}

table.dataTable.no-footer {
    border-bottom: none;
}
.text-white {
    color: #ffffff;
}
.content-wrapper {
    min-height: 100%;
    background-color: #fff;
    z-index: 800
}
.sms-box {
    padding: 15px;
    border: 3px solid gray;
    border-radius: 8px;
}
.compose-text {
    margin-top: 0px;
    padding-bottom: 12px;
}
.input-empty {
    border: 1px solid #ff442a;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #d5d5d5;
}
.table-bordered {
    border: 1px solid #ddd;
}
.dataTables_length {
    text-align: left;
}
.wd-full {
    width: 100% !important;
}
table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
    border-bottom-width: 1px !important;
}
.text-danger {
    color: #ff0000;
}
.treeview-menu > li {
    margin: 0 15px;
}
.skin-blue .sidebar-menu .treeview-menu > li > a {
    font-size: 14px !important;
}
.skin-blue .sidebar-menu .treeview-menu > li > a > i {
    font-size: 16px;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #f2f2f2;
}
.bold{
    font-weight: bold;
}

.widget{
    margin-bottom: 25px;
    /* taken from https://css-tricks.com/examples/GradientBorder/ */
    border-bottom: 3px solid black;
    background-image:
        linear-gradient(transparent, #000),
        linear-gradient(transparent, #000);
    background-size: 3px 100%;
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
    padding-bottom: 20px;
    position: relative;
}
.not-active{
    font-family: 'Montserrat Subrayada', sans-serif;
    color: #8b0000;
    font-size: 100px;
    position: absolute;
    z-index: 2;
}

.cpu-wdiget{
    margin-top: 20px;
}

.cpu,.mem{
    background-color: white;
    position: relative;
    text-align: center
}

.cpu-text, .mem-text{
    position: absolute;
    transform: translate(-45%, -50%);
    top: 50%;
    left: 50%;
    font-size: 30px;
}

.canvas-wrapper{
    position: relative;
}

.top {
    float: left;
}
